* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  align-items: stretch;
}